.asoc,
.ccss {
  td {
    width: 35%;
    + td {
      width: 30%;
      text-align: right;
      + td {
        width: 35%;
      }
    }
  }
}
.salary-total {
  font-size: 2rem;
  text-align: center;
}
.card-footer {
  font-size: 0.5rem;
  a {
    margin: 1rem 1rem 1rem 0;
  }
}